/*综合推荐*/
.body_four{
	width:1200px;
	height:2380px;
	margin: 0 auto;
	margin-top:35px;
}
.body_four > div{
	width:390px;
	height:474px;
	box-sizing:border-box;
}
.body_four_one{
	float:left;
	margin-left:6px;
}
.body_four_one a:hover{
	color:red;
}
.body_four_one > div:nth-child(1){
	width:100%;
	height:55px;
	background-image:url(../images/发现好货.png);
	background-size:100% auto;
	background-repeat:no-repeat;
}
.body_four_one > div:nth-child(1) a{
	color:white;
	position:relative;
	top:20px;
	left:65%;
}
.body_four_one > div:nth-child(2){
	width:100%;
	height:388px;
}
.body_four_one ul{
	width:90%;
	height:390px;
	margin: 0 auto;
	margin-top:9px;
}
.body_four_one li{
	width:50%;
	height:130px;
	box-sizing:border-box;
	float:left;
	text-align:center;
	padding-top:5px;
}
.body_four_one img{
	src:"../images/sign.jpg";
	margin: 0 auto;
	display:block;
	width:90px;
	height:90px;
	margin-bottom:7px;
}
.body_four-one span{
	color:black;
}
.body_four_one li:nth-child(1),.body_four_one li:nth-child(3){
	border-right:1px solid #C0C0C0;
	border-bottom:1px solid #C0C0C0;
}
.body_four_one li:nth-child(2),.body_four_one li:nth-child(4){
	border-bottom:1px solid #C0C0C0;
}
.body_four_one li:nth-child(5){
	border-right:1px solid #C0C0C0;
}
footer{
	background-color:#C0C0C0;
	width:100%;
	height:100px;
}
footer a{
	color:black;
	position:relative;
	left:60px;
	top:40px;
}