*{
	margin:0;
	padding:0;
	border:0;
	outline:none;
}
a{
	text-decoration:none;
}
header{
	height:110px;
	width:100%;
	border-bottom:5px solid blue;
	background-color:white;
	opacity:1;
}
header img{
	width:100px;
	height:100px;
	float:left;
	margin-left:12%;
}
header p:nth-child(2){
	float:left;
	line-height:119px;
	font-size:30px;
	font-weight:bold;
	margin-left:2%;
}
header p:nth-child(3){
	color:#C0C0C0;
	float:right;
	margin-top:70px;
	margin-right:12%;
}
header a{
	color:black;
}
header a:hover{
	text-decoration:none;
}
body{
	background-image:url(../images/706370.jpg);
	background-size:100% auto;
}
.shoppingbox{
	border-radius:20px;
	margin: 0 auto;
	margin-top:50px;
	width:1200px;
	height:572px;
	background-color:white;
	border:5px solid blue;
}
.imgbox{
	border-right:1px solid #C0C0C0;
	float:left;
	width:40%;
	height:85%;
	margin-top:3%;
	box-sizing:border-box;
}
.imgbox > img{
	display:block;
	width:380px;
	height:380px;
	margin: 0 auto;
	border:1px solid #eee;
}
.thingbox{
	float:right;
	width:60%;
	height:100%;
}
.thingbox a:hover{
	color:red;
}
.thingbox > h4{
	margin-top:30px;
	margin-left:10px;
}
.thingbox > p:nth-child(2){
	font-size:14px;
	margin-top:10px;
	margin-left:15px;
}
.thingbox > a:nth-child(3){
	font-size:14px;
	margin-left:20px;
	margin-top:5px;
	width:60%;
}
.thingbox > p:nth-child(4){
	margin-top:20px;
	margin-left:40px;
	color:#C0C0CC;
}
.thingbox span{
	color:red;
}
.thingbox > a:nth-child(5){
	font-size:13px;
	margin-top:5px;
	margin-left:40px;
}
.thingbox > p:nth-child(6){
	font-size:13px;
	margin-top:5px;
	margin-left:40px;
	color:#C0C0CC;
}
.thingbox > p:nth-child(7){
	font-size:13px;
	margin-top:5px;
	margin-left:40px;
	color:#C0C0CC;
}
.thingbox > a:nth-child(8){
	margin-left:40px;
	margin-top:5px;
}
.thingbox > a:nth-child(8) img{
	width:20px;
	height:20px;
}
.thingbox > div:nth-child(9){
	width:100%;
	height:60px;
}
.thingbox > div:nth-child(9) ul{
	float:left;
	list-style:none;
	width:100px;
	height:20px;
	border:2px solid #C0C0C0;
	text-align:center;
	margin-left:30px;
	margin-top:20px;
}
.thingbox > div:nth-child(9) li{
	float:left;
	line-height:19px;
}
.thingbox > div:nth-child(9) li:nth-child(1){
	width:30%;
	height:100%;
	box-sizing:border-box;
	border-right:1px solid #C0C0C0;
	cursor:pointer;
}
.thingbox > div:nth-child(9) li:nth-child(2){
	width:40%;
	height:100%;
	box-sizing:border-box;
	border-right:1px solid #C0C0C0;
}
.thingbox > div:nth-child(9) li:nth-child(3){
	width:30%;
	height:100%;
	cursor:pointer;
}
.thingbox input{
	margin-left:40px;
	margin-top:5px;
	width:200px;
	height:50px;
	background-color:red;
	color:white;
	text-align:center;
	font-size:14px;
	line-height:49px;
}
.pingfen{
	margin: 0 auto;
	margin-top:40px;
	width:80%;
	height:200px;
	padding-top:30px;
	box-sizing:border-box;
	border-top:0.5px solid #C0C0C0;
	border-bottom:0.5px solid #C0C0C0;
	padding-left:20px;
	border-radius:10px;
}
.pingfen ul{
	list-style:none;
	margin-top:20px;
	width:200px;
	height:50px;
}
.starli{
	cursor:pointer;
	width:40px;
	height:50px;
	float:left;
	background-image:url(../images/star01.png);
	background-repeat:no-repeat;
}
.pingfen img{
	position:relative;
	left:240px;
	bottom:100px;
	width:120px;
	height:120px;
	border-radius:10px;
}
footer{
	background-color:#C0C0C0;
	width:100%;
	height:100px;
}
footer a{
	color:black;
	position:relative;
	left:60px;
	top:40px;
}
